@import 'const';

$width: 300px;

.matches {
  background: #fff;
  height:  calc(100vh - 60px - 61px);

  &__list {
    height: 100%;
    overflow: auto;
    width: $width;
    float: left;
  }

  &__conversation {
    width: calc(100% - $width);
    height: 100%;
    margin-left: $width;
    background: $gray;
  }
}
