@import 'const';

.logged {
  padding: 0;

  &__nav-bar {
    float: left;
    width: 100px;
    height: 100vh;
    background: $dark;

    li {
      text-align: center;
      font-size: 25px;
      padding-left: 10px;

      a {
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 12px;
      }

      a.active {
        background: $dark-lighten;
        position: relative;
        z-index: 1;
        border-radius: 5px 0 0 5px;
        box-shadow: $nav-bar-shadow;
      }

      .fa {
        color: #fff;
      }

      .badge {
        position: relative;

        span {
          right: 12px;
          top: -5px;
          position: absolute;
          background: $red;
          color: #fff;
          border-radius: 50%;
          font-size: 11px;
          padding: 5px 3px 3px 3px;
        }
      }
    }

    .separator {
      height: 1px;
      background: #5b6069;
      padding: 0;
    }

    .logout {
      cursor: pointer;
    }
  }

  .profile {
    .avatar {
      display: inline-block;
    }

    .name {
      font-size: 14px;
      color: #fff;
    }

    &__plus {
      font-size: 12px;
      color: $red;
    }
  }

  &__content {
    margin-left: 100px;
    height: 100%;
  }
}

.not-logged {
  text-align: center;
}
