{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
    "flowtype",
    "react"
  ],
  "globals": {
    "google": false,
    "chrome": true,
    "Bugsnag": true
  },
  "rules": {
    "linebreak-style": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-underscore-dangle": 0,
    "max-len": [2, 120],
    "camelcase": 0,
    "default-case": 0,
    "class-methods-use-this": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": 0,
    "react/require-default-props": 0
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    },
    "import/extension": {
      "webpack": {
        "config": "webpack.config.js"
      }
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
