@import 'vars';

.wrapper {
  width: 1000px;
  margin: 20px auto;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(90, 78, 68, 0.48) 0 0 13px 0px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  height: 100%;
  position: relative;
}

.intro-wrapper {
  float: left;
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;

  h1 {
    font-size: 30px;
    margin-bottom: 0;

    > span {
      padding-left: 50px;
    }
  }

  p b {
    display: block;
  }

  .last-seen {
    margin: 0 0 12px 0;
    font-size: 14px;
    font-family: $lato;
  }

  .full-bio {
    border-left: 4px solid #f6f1e4;
    padding-left: 10px;
    margin: 40px 0;
    font-family: $lato;
  }
}

.intro {
  padding: 15px;
  overflow-y: auto;
  flex: 1 1 auto;
}

.actions {
  padding: 0;
  flex: 0 1 auto;
}

.common {
  margin-top: 40px;

  h1 {
    margin-bottom: 6px;
    margin-top: 10px;
    font-size: 16px;
  }
}

.school-job:not(:empty) {
  font-size: 13px;
  margin-top: 7px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.photos {
  width: 600px;
  height: 600px;
  margin-left: 400px;
}

.commons {
  li {
    display: inline-block;
    padding: 4px 11px;
    border: 1px solid $bg;
    border-radius: 10px;
    font-size: 11px;
    margin-right: 3px;
    margin-bottom: 3px;
  }
}

.connection {
  img {
    width: 15px;
    height: auto;
  }
}

.insta {
  text-align: center;
  margin-top: 40px;

  a {
    display: inline-block;
    color: $red;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: #000;
    }
  }

  span {
    display: block;
    margin-top: 7px;
  }

  :global(.fa) {
    font-size: 80px;
  }
}

.km {
  font-size: 18px;
  margin: 10px 0 3px;

  span {
    color: $blue;
  }
}

.back {
  position: absolute;
  top: 11px;
  left: 0;
  background: $hover-c;
  padding: 0 11px;
  cursor: pointer;
  font-size: 30px;

  &:hover {
    color: $blue;
  }
}

.schools {
  font-size: 16px;

  .school {
    margin-bottom: 10px;
    clear: both;
  }

  .try-find {
    font-size: 21px;
    color: #3b5998;
    margin-right: 9px;
    vertical-align: middle;
  }
}
