@import '../../styles/vars';
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');


.content {
  width: 500px;
  margin: 20px auto;

  h1 {
    font-size: 30px;
    margin: 40px 0;
  }

  h2 {
    font-size: 25px;
    margin: 15px 0;
  }

  p {
    margin: 5px 0;
  }
}
