<!doctype html>
<html>
<head>
  <title>Tind3r.com - Unofficial Tinder client</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Unofficial Tinder client for Web. Its free! Better experience than on phone.">
  <meta name="keywords" content="tinder, gotinder, dating app, swipe, superlike" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  <link href="https://unpkg.com/@blueprintjs/core@3.11.0/lib/css/blueprint.css" rel="stylesheet" />
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/olicollicgbjgnialpnmnolopimdccon">
  <meta name="google-site-verification" content="8Z9Lfc7qz7oHQK_RnKyMfT8MfwlE0xkPIiJs0HvbCOQ" />
</head>
<body>
  <div id='root'>
  </div>

  <script src="//cdn.headwayapp.co/widget.js"></script>
  <script>
    window.HW_config = {
      selector: "#changelog", // CSS selector where to inject the badge
      account: "7zpzmy" // your account ID
    };
  </script>

  <% if (env.develop) { %>
    <script src="/static/vendor.js"></script>
    <script src="/static/main.js"></script>
    <% } else { %>
      <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js" data-apikey="1b165597e658f22e79923a8d458d5122"></script>

      <!-- Hotjar Tracking Code for www.tind3r.com -->
      <script>
        (function (h, o, t, j, a, r) {
          h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
          h._hjSettings = { hjid: 497970, hjsv: 5 };
          a = o.getElementsByTagName('head')[0];
          r = o.createElement('script'); r.async = 1;
          r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
          a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
      </script>
      <% for(var i=0; i<env.assets.length; i++) {%>
        <script src="<%= env.assets[i] %>"></script>
        <% } %>
          <% } %>
</body>
</html>
