@import '../../styles/vars';

.gif-wrapper {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    border: none;
    padding: 3px;
    outline: none;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    line-height: 19px;
    outline: none;
    cursor: pointer;
    color: $blue;
  }
}

.gifs {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 80px;

  .main-wrapper {
    overflow: hidden;
  }

  .gif {
    height: 80px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    img {
      max-height: 80px;
    }
  }
}
