@import '../../styles/vars';
$padding: 20px;

.messages {
  height: calc(100% - #{61px + $padding * 2});
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fcf9f8;

  h1 {
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    position: absolute;
    left: 50%;
    padding: 31px;
    font-size: 27px;
  }
}

.wrapper {
  height: 100%;
}
