$padding: 0;

.messages {
  height: calc(100% - #{60px - $padding});
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
}

.new-message-input {
  font-size: 0;
  padding: $padding;

  textarea {
    font-size: 14px;
    resize: none;
    padding: 4px;
    height: 60px;
    width: 100%;
    outline: none;
    border: 1px solid #ebddcf;
    color: #7f7f7d;
  }
}
