@import '../../styles/vars';
$padding: 28px 20px 12px;

.new-message-input {
  font-size: 0;
  padding: $padding;
  border-top: 1px solid $bg;
  position: relative;

  h1 {
    font-size: 25px;
    text-align: center;
  }

  textarea {
    font-size: 14px;
    resize: none;
    padding: 4px;
    height: 60px;
    width: 100%;
    outline: none;
    border: none;
    color: #7f7f7d;
    background: transparent;
    padding-right: 74px;
    font-family: $lato;
  }

  &:global(.trying) {
    opacity: .7;
    background: #ececec;
  }
}

.actions {
  position: absolute;
  right: 20px;
  top: 43%;
  transform: translateY(-50%);
  font-size: 16px;
  text-align: right;

  .delay {
    margin-bottom: 6px;

    :global(.fa) {
      position: absolute;
      left: 8px;
      top: 2px;
      color: #fff;
      pointer-events: none;
    }

    :global {
      .container {
        .display {
          padding-left: 25px;
        }
      }
    }
  }
}

.send {
  border-radius: 50%;
  display: inline-block;
  border: none;
  background: $green;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;

  &:global(.disabled) {
    background: gray;
    cursor: default;
  }
}

.tryingLoader {
  width: 10px;
  height: 10px;
  background: red;
}

.esc {
  position: absolute;
  top: 16px;
  left: 10px;
  color: #fff;
  font-size: 10px;
}

.emotions {
  position: relative;
}

.trigger {
  padding: 2px 10px;
  background: #ffffff;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 12px;
  position: absolute;
  right: 70px;
  font-family: $lato;
  cursor: pointer;

  &:global(.gif) {
    right: 135px;
    width: 62px;
  }
}
