@import '../../styles/vars';

.wrapper {
  padding: 10px;
}

.images {
  width: 80%;
  margin: 10px auto 30px;
  img {
    width: 100%;
    height: auto;
  }
}

.bio {
  margin-top: 10px;
  font-size: 13px;
  font-family: $lato;
  line-height: 16px;
}

.name {
  text-decoration: none;
  color: inherit;
}

.images {
  :global {
    .slick-slider {
      .slick-prev,
      .slick-next {
        &:before {
          color: #000;
        }
      }

      .slick-prev {
        left: -30px;
      }

      .slick-next {
        right: -30px;
      }

      .slick-dots {
        bottom: -25px;
      }
    }
  }
}
