.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  max-height: calc(100vh - 60px - 40px);
}

.matches,
.messages,
.profile {
  height: 100%;
  overflow-y: scroll;;
}

.matches,
.profile {
  width: 25%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.messages {
  width: 50%;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  overflow: visible;
}
