@import '../../styles/vars';

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  max-height: calc(100vh - 60px - 40px);
}

.matches,
.messages,
.profile {
  height: 100%;
  overflow-y: scroll;
}

.matches,
.profile {
  width: 25%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.messages {
  width: 50%;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  overflow: visible;
}

.actions {
  padding: 14px 20px;
  background: $hover-c;
  border-bottom: 1px solid #b1a599;
}

.action {
  font-size: 14px;
  cursor: pointer;
  margin: 15px 0;

  &:hover {
    color: $blue;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  input {
    border-radius: $border-radius;
    padding: 4px;
    border: 1px solid $bg;
    outline: none;
    width: 100%;
  }
}
