@import 'const';

.person-card {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin: 3px;
  box-shadow: rgba(90, 78, 68, 0.48) 0 0 13px 0px;

  &__gallery {
    height: 220px;
  }

  &__common {
    text-align: left;
    font-size: 12px;
    padding: 3px 5px;

    span {
      margin: 0 2px;
      font-weight: bold;
    }
  }

  &__like-possible {
    color: #28a900;
  }

  &__content {
    background: #fff;
    text-align: center;
    padding-top: 30px;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
    line-height: 22px;
  }

  &__seen-min {
    font-size: 11px;
    font-weight: normal;
  }

  &__bio {
    font-family: $font-lato;
    margin: 12px;
    font-size: 12px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 47px;
    text-overflow: ellipsis;
    display: -webkit-box;
  }

  &__employ,
  &__school {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    white-space: nowrap;
    background: #fcfcfc;
    border-bottom: 1px solid #fff;

    > span {
      padding: 8px 5px;
      display: inline-block;
    }

    &__actions {
      height: 100%;
      display: none;
    }
  }

  &__school span {
    display: inline-block;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    height: 45px;
    font-size: 13px;
    background: #fcfcfc;

    &--distance,
    &--instagram {
      align-self: center;
      padding: 8px;
    }

    &--instagram {
      i {
        font-size: 28px;
        color: gray;
      }

      a i {
        color: $green;
      }

      a {
        text-decoration: none;
        color: $green;
        display: block;
      }
    }
  }
}

.person-card {
  &:hover & {
    &__employ {
      > span {
        display: none;
      }

      &__actions {
        display: block;
      }
    }
  }
}
.person-card {
  &--large {
    $wrapper-width: 700;
    $content-width: 300;

    width: 100%;
    display: flex;
    height: 400px;
    margin: 0;

    .person-card {
      &__gallery {
        width: calc(100% - #{$content-width}px);
        height: 400px;
        order: 2;
        overflow-x: scroll;
        overflow-y: hidden;
      }

      &__content {
        width: #{$content-width}px;
        display: flex;
        flex-direction: column;
        align-content: stretch;
      }

      &__bio {
        flex-grow: 2;
      }

      &__footer {
        border-bottom: 1px solid #fff;
      }

      &__employ {
        order: 1;
        height: 50px;
        line-height: 50px;

        &__actions {
          display: block !important;
        }
      }
    }
  }
}
