@import 'const';

.settings {
  padding: 10px;
  height: 100vh;
  overflow: auto;

  .pt-intent-primary {
    margin-right: 5px;
  }

  &__row {
    margin: 5px 0 20px;

    label {
      display: block;
      margin-bottom: 5px;
    }
  }

  &__field-table {
    width: 100%;
  }

  &__info{
    font-size: 12px;
    display: block;
    margin: 5px 0;
    font-style: italic;

    b {
      font-weight: bold;
    }
  }

  &__field {
    margin-bottom: 10px;
  }

  &__button {
    border: 1px solid $green;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
  }

  &__separator {
    width: 80%;
    height: 1px;
    margin: 20px auto;
    background: #5b6069;
    text-align: center;
    line-height: 0;

    span {
      background: $gray;
      padding: 0 10px;
    }
  }

  label span {
    color: $accent;
  }

  label i {
    color: $green;
    margin: 0 4px;
    display: inline-block;
  }
}
