$primary-color: #dfc2b4;
$primary-color-light: lighten($primary-color, 18);

$green: #2dc100;
$red: #ff0000;
$blue: #0084ff;
$violet: #994bd2;

$icons-color: #b1a599;

$font-lato: Lato, Tahoma, serif;
$font-poppins: Poppins, Tahoma, serif;
$font-color: #5a4e44;

$dark: #1d232a;
$dark-lighten: #2a2f35;
$dark-lighten2: #2b3239;
$accent: #0084ff;
$gray: #e9ecf1;
$border-dark: #393e44;
$border-light: #d6dade;

$nav-bar-shadow: -4px 1px 8px 0px rgba(0, 0, 0, 0.33);
