$primary-color: #dfc2b4;
$primary-color-light: lighten($primary-color, 18);

$green: #55bc75;
$red: #e2704e;
$blue: #5f90b0;

$icons-color: #b1a599;

$font-lato: Lato, Tahoma, serif;
$font-poppins: Poppins, Tahoma, serif;
$font-color: #5a4e44;
