$bg: #dfc2b4;
$fill: #00b7c6;

.containter {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 0;
  margin: 20px auto 0;

  &:global(.no-animation) {
    .dot {
      animation: none;
    }
  }
}

.pulse {
  width: 50px;
  height: 50px;
  border: 3px solid $fill;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  top: 50%;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  img {
    width: 100%;
    height: auto;
  }
}

.dot {
  border: 5px solid $fill;
  background: transparent;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

@-webkit-keyframes pulse {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 0.8;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.simple-loader,
.simple-loader:before,
.simple-loader:after {
  background: $fill;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.simple-loader {
  color: $fill;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.simple-loader:before,
.simple-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.simple-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.simple-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
