$bg: #dfc2b4;
$fill: #00b7c6;

:global {
  .wrapper {
    background: $bg;
  }
  .hourglass{
    display:block;
    background:$bg;
    margin:3em auto;
    width:2em;
    height:4em;
    box-shadow:
        inset $bg 0 0 0 0,
        inset $fill 0 2em 0 0,
        inset $bg 0 0 4em 0;
    animation:hourglass 1s linear infinite;
  }
  .middle {
    fill: $bg;
  }
  .outer{
      fill:$fill;
  }

  @keyframes :global(hourglass) {
      0%{
          transform:rotate(0deg);
          box-shadow:
              inset $bg 0 0 0 0,
              inset $fill 0 2em 0 0,
              inset $bg 0 4em 0 0,
              inset $fill 0 4em 0 0;
      }
      80%{
          transform:rotate(0deg);
          box-shadow:
              inset $bg 0 2em 0 0,
              inset $fill 0 2em 0 0,
              inset $bg 0 2em 0 0,
              inset $fill 0 4em 0 0;
      }
      100%{
          transform:rotate(180deg);
          box-shadow:
              inset $bg 0 2em 0 0,
              inset $fill 0 2em 0 0,
              inset $bg 0 2em 0 0,
              inset $fill 0 4em 0 0;
    }
  }
}
