@import url('https://fonts.googleapis.com/css?family==Lato:300,300i,400|Montserrat');
@import 'vars';

body {
  background: $bg;
  color: $font-c;
  font-family: Montserrat, Tahoma, Arial;
}

:global {
  .slick-slider {
    margin-bottom: 0;
    .slick-next {
      right: 10px;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-dots {
      bottom: 0;
      background: #fff;

      li button:before {
        font-size: 9px;
        opacity: 0.5;
      }

      li.slick-active button:before {
        opacity: 1
      }
    }
  }
}
