@import url('https://fonts.googleapis.com/css?family==Lato:300,300i,400|Montserrat');

body {
  background: #dfc2b4;
  font-family: Montserrat, Tahoma, Arial;
}

:global {
  .slick-slider {
    .slick-next {
      right: 10px;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-dots {
      bottom: 0;
    }
  }
}
