@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Poppins:400,700&subset=latin-ext');
@import 'vars';

body {
  background: $bg;
  color: $font-c;
  font-family: Poppins, Tahoma, Arial;

  * {
    box-sizing: border-box;
  }
}

:global {
  html,
  body,
  #root {
    height: 100%;
  }

  .main-wrapper {
    margin: 20px 20px 0;
    background: #fff;
    box-shadow: rgba(90, 78, 68, 0.48) 0 0 13px 0px;
    border-radius: 3px;
    height: calc(100vh - 60px - 61px);
  }

  .slick-slider {
    margin-bottom: 0;
    .slick-next {
      right: 10px;
    }

    .slick-prev {
      left: 10px;
      z-index: 1;
    }

    .slick-dots {
      bottom: 0;

      li button:before {
        font-size: 9px;
        opacity: 0.5;
      }

      li.slick-active button:before {
        opacity: 1
      }
    }
  }
}
