@import 'vars';
:global {
  .container {
    width: 60px;
    text-align: center;
    position: relative;

    .display {
      padding: 3px 12px;
      font-size: 16px;
      background: $blue;
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
    }

    .list {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      top: 22px;
      z-index: 1;
    }

    .option {
      line-height: 18px;
      font-size: 14px;
      background: #fff;
      text-align: center;
      cursor: pointer;

      &:last-child {
        border-radius: 0 0 10px 10px;
      }

      &:hover {
        background: #eef8ff;
      }
    }

    &.show .list {
      display: block;
    }

    &.show .display {
      border-radius: 10px 10px 0 0;
    }
  }
}
