$bg: #dfc2b4;
$font-c: #5a4e44;
$green: #55bc75;
$blue: #5f90b0;
$red: #e2704e;
$bg2: #f6f1ed;
$icons-c: #b1a599;
$hover-c: #f8f3f0;
$violet: #994bd2;

$small-card-w: 220px;

$lato: Lato, Tahoma, serif;
