@import 'const';

.welcome {
  text-align: center;
  padding: 100px 0 0;

  h1 {
    color: $accent;
    font-size: 60px;
    margin: 20px 0 50px;
  }

  h2 {
    margin: 30px 0;
    font-size: 30px;
    text-decoration: underline;
    color: $green;
  }

  &__gif {
    position: relative;
    padding-top: 21%;
    margin-top: 20px;
  }

  &__sneak-peek {
    width: 600px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }
}
