@import 'const';

.welcome {
  text-align: center;
  padding: 100px 0 0;

  h1 {
    color: $accent;
    font-size: 60px;
    margin: 20px 0 50px;
  }

  h2 {
    margin: 30px 0;
    font-size: 30px;
    text-decoration: underline;
    color: $green;
  }

  &__gif {
    position: relative;
    padding-top: 21%;
    margin-top: 20px;
  }

  &__sneak-peek {
    width: 600px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  button {
    border: 1px solid $blue;
    background: transparent;
    font-size: 25px;
    padding: 10px 20px;
    color: darken($gray, 50);
    border-radius: 5px;
    cursor: pointer;
    background: lighten($blue, 70);
    box-shadow: 2px 1px 8px 0px #c5c5c5;
  }
}
