@import 'vars';

.match {
  border-bottom: 1px solid #b1a599;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  display: block;
  text-decoration: none;
  color: $font-c;
  border-left: 3px solid transparent;
  position: relative;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:global(.unread) {
    border-left-color: $blue;
  }

  &:global(.blocked) {
    opacity: 0.7;
  }

  &:global(.active) {
    background-color: #fcf9f8;
  }
}

.name {
  font-size: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.date {
  font-size: 11px;
}

.message {
  font-size: 12px;
  font-family: $lato;
  display: flex;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    margin-right: 10px;
  }
}

.avatar {
  float: left;
  width: 60px;
  margin-right: 11px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.type-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 15px;

  :global {
    .fa-star {
      color: $blue;
    }

    .fa-bolt {
      color: $violet;
    }

    .fa-ban {
      color: $red;
    }
  }
}
