@import 'const';

.person-modal {
  &__name {
    font-size: 30px;
  }

  &__left {
    width: 270px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  &__bio {
    height: 100%;
    margin-top: 20px;
  }

  &__gallery {
    margin-left: 250px;
  }

  &__info {
    flex: 1 1 auto;
    overflow: auto;
  }

  &__buttons {
    flex: 0 1 auto;
  }

  &__lists {
    margin: 10px 0;

    ul {
      margin-bottom: 10px;
      border-bottom: 1px solid $gray;

      &:last-of-type {
        border-bottom: none;
      }
    }

    li {
      margin: 4px 0;

      &:empty {
        display: none;
      }
    }
  }

  &__connections {
    margin-top: 40px;
    li {
      display: inline-block;
      padding: 4px 11px;
      border: 1px solid $blue;
      color: $blue;
      border-radius: 10px;
      font-size: 11px;
      margin-right: 3px;
      margin-bottom: 3px;
    }
  }
}
