@import 'vars';

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  max-height: calc(100vh - 60px - 40px);
}

.matches,
.messages,
.profile {
  height: 100%;
  overflow-y: scroll;
}

.matches,
.profile {
  width: 25%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.messages {
  width: 50%;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  overflow: visible;
}

.actions {
  padding: 14px 20px;
  background: $hover-c;
  border-bottom: 1px solid #b1a599;
}

.action-wrapper {
  font-size: 14px;
  margin: 10px 0;

  .action {
    cursor: pointer;
  }

  &:hover .action {
    color: $blue;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  input {
    border-radius: $border-radius;
    padding: 4px;
    border: 1px solid $bg;
    outline: none;
    width: 100%;
  }
}

.quick {
  display: flex;

  button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    padding: 0;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid $bg;

    &:last-child {
      border-right: 0;
    }

    i {
      margin-right: 5px;
      display: inline-block;
      width: 10px;
    }

    span {
      color: $blue;
    }
  }
}
