.home {
  padding: 20px 20px 30px;
}

.recommendation {
  padding: 0;
  float: left;
}

.horizontal {
  $photo-w: 250px;

  padding: 0;
  width: 3 * $photo-w;
  margin: 20px auto 40px;
}

.recs {
  margin-left: 0;
}

.message {
  text-align: center;

  button {
    border: none;
    background: transparent;
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
  }
}
