.home {
  padding: 20px;
}
.recommendation {
  padding: 0;
  float: left;
}

.message {
  text-align: center;

  button {
    border: none;
    background: transparent;
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
  }
}
