@import '../../styles/vars';

.wrapper {
  color: #5a4e44
}

.content {
  width: 350px;
  margin: 20px auto;
  background: #fff;
  box-shadow: #b1b1b1 0 0 16px 0px;
  border-radius: 3px;
}

.images {
  height: 350px;
  width: 350px;
  overflow: hidden;
}

.info {
  font-size: 14px;

  td {
    vertical-align: middle;
    text-align: center;
    padding: 15px 10px;
  }

  .person {
    vertical-align: top;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.name {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 22px;
}

.age {
  font-size: 30px;

  div {
    font-size: 15px;
  }
}

.bio {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 12px;
}

.seen {
  font-size: 11px;
  font-weight: normal;
}

.actions {
  font-size: 46px;
  text-align: center;

  td {
    padding: 14px 7px;
    background: $bg2;
    color: $icons-c;
    cursor: pointer;
    border-right: 1px solid #fff;

    &:last-child {
      border: none;
    }

    &:hover {
      color: $red;

      :global(.fa-heart) {
        color: $green
      }

      :global(.fa-star) {
        color: $blue
      }
    }
  }
}

.insta {
  padding: 10px 0;

  i {
    font-size: 28px;
    color: gray;
  }
}

.additional {
  text-align: center;

  td {
    padding: 5px;
    vertical-align: middle;
    background: $bg2;
    border-bottom: 1px solid #fff;
  }

  .with-insta {
    a {
      color: inherit;
      text-decoration: none;
    }

    i {
      margin-bottom: 4px;
      color: $green;
    }

    .instaname {
      font-size: 12px;
    }
  }
}

.school {
  font-size: 10px;
}
