@import '../../styles/vars';

.wrapper {
  color: #5a4e44;
  display: inline-block;
  vertical-align: top;

  &:global(.simple) {
    width: $small-card-w;
    margin: 0 5px 5px;

    .content {
      width: $small-card-w;
    }

    .images {
      width: $small-card-w;
      height: $small-card-w;
    }

    .instaname {
      display: none !important;
    }

    .employ {
      font-size: 13px;

      span {
        width: $small-card-w;
        display: block;
      }
    }

    .additional {
      font-size: 13px;
    }

    .bio {
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 37px;
      text-overflow: ellipsis;
      display: -webkit-box;
    }

    .actions {
      display: none;
    }

    &:hover {
      .employ {
        display: none;
      }

      .actions {
        display: table-row;

        td {
          border-bottom: 1px solid #fff;
        }

        td > div {
          font-size: 19px;

          div {
            padding-top: 6px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

.content {
  width: 350px;
  background: #fff;
  box-shadow: rgba(90, 78, 68, 0.48) 0 0 13px 0px;
  border-radius: 3px;
}

.images {
  height: 350px;
  width: 350px;
  overflow: hidden;

  :global(.slick-dots) {
    background: #fff;
  }
}

.info {
  font-size: 14px;

  td {
    vertical-align: middle;
    text-align: center;
    padding: 15px 10px;
  }

  .person {
    vertical-align: top;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.name {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 22px;
}

.age {
  font-size: 30px;

  div {
    font-size: 15px;
  }
}

.bio {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 12px;
}

.seen {
  font-size: 11px;
  font-weight: normal;
}

.insta {
  padding: 10px 0;

  i {
    font-size: 28px;
    color: gray;
  }
}

.additional {
  text-align: center;

  td {
    padding: 8px;
    vertical-align: middle;
    background: $bg2;
    border-bottom: 1px solid #fff;
  }

  .with-insta {
    a {
      color: inherit;
      text-decoration: none;
      display: inline-block;
    }

    i {
      color: $green;
    }

    .instaname {
      font-size: 12px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 90px;
    }
  }
}

.school {
  font-size: 10px;
}

.employ {
  font-size: 16px;
  text-align: center;
  background: $bg2;
  border-bottom: 1px solid #fff;

  span {
    padding: 8px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    white-space: nowrap;
    display: block;
    width: 338px;
  }
}

.all-photos {
  background: #fff;
  width: 585px;

  :global(.slick-dots) {
    background: transparent !important;
  }
}

.all-images {
  width: 585px;
}

.school-job {
  font-size: 16px;
  margin-top: 7px;
}

.intro {
  min-height: 466px;
  width: 400px;
  padding: 15px;

  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  p b {
    display: block;
  }

  .last-seen {
    margin: 0 0 20px 0;
    font-size: 14px;
  }

  .full-bio {
    border-left: 4px solid #f6f1e4;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
  }
}

.common {
  margin-top: 40px;
  h1 {
    font-size: 17px;
  }
}
