@import 'const';

.history {
  &__content {
    background: $gray;
    min-height: 100%;
    padding: 20px;
  }

  .avatar {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }

  &__person {
    display: inline-block;
    width: 86px;
    margin: 10px;
    overflow: hidden;
    text-align: center;

    &--super {
      color: $accent !important;
    }

    &--like {
      color: $green !important;
    }

    &--pass {
      color: $red !important;
    }
  }

  &__person-name {
    font-weight: bold;
  }

  &__person-date {
    font-size: 11px;
    color: $font-color;
  }
}
