@import 'vars';

.content {
  text-align: center;
  font-family: $lato;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h4, p {
    margin-top: 40px;
  }

  a {
    text-decoration: none;
    color: $red;
    font-weight: bold;
  }

  button {
    font-size: 23px;
    padding: 5px 25px;
  }
}

.intro {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 1100px;

  h1 {
    font-family: $poppins;
    font-size: 29px;
  }

  :global(.slick-slide) {
    overflow: hidden;
  }
}

.features {
  margin-top: 50px;


  h3 {
    margin-top: 50px;
    font-size: 30px;
    font-family: Comfortaa, Arial;
    color: $blue;
    margin-bottom: 17px;
  }

  img {
    margin: 0 auto;
  }
}
