@import '../../../../../../styles/vars';

.content {
  margin-top: 70px;
  text-align: center;
  font-family: $lato;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h4, p {
    margin-top: 40px;
  }

  a {
    text-decoration: none;
    color: $red;
    font-weight: bold;
  }

  button {
    font-size: 23px;
    padding: 5px 25px;
  }
}
