.matches {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background: #fff;
  height:  calc(100vh - 60px - 61px);

  &__list {
    width: 25%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: 100%;
    overflow: auto;
  }
}
