@import '../styles/vars';

.wrapper {
  overflow-y: auto;
  padding: 20px;
  font-family: $lato;

  li {
    display: inline-block;
    margin: 7px 10px;
    background: white;
    border-right: 1px solid $bg2;
    padding-right: 10px;
  }

  td {
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: #000;
  }

  .name {
    font-weight: bold;
  }

  :global {
    .like a {
      color: $green;
    }

    .superlike a {
      color: $blue
    }

    .pass a {
      color: $red;
    }
  }

  .table {
    display: table;
    width: 100%;
    height: 100%;
  }

  &:global(.table) {
    text-align: center;
    font-size: 50px;

    h1 {
      display: table-cell;
      vertical-align: middle;

      span {
        display: block;
        margin-top: 10px;
      }
    }
  }
}

.avatar {
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  font-size: 0;

  img {
    max-width: 100%;
  }
}
