.shortcut-icon {
  font-family: Arial;
  background-color: #e9eaec;
  border-radius: 2px;
  border-bottom: 2px solid #b2b6bd;
  padding: 0.2em 0.7em;
  cursor: default;
  display: inline-block;
  color: #000;
  line-height: 19px;
  font-size: 14px;
  margin: 0 3px;
}
