@import 'const';

.not-found {
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  text-transform: uppercase;

  text-align: center;
  font-size: 50px;
  color: $blue;

  &__icon {
    color: $red;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
