@import 'const';

.load-more-card {
  text-align: center;
  width: 220px;
  line-height: 429px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;

  &:hover {
    font-weight: bold;
  }

  &--loading {
    cursor: default;
    font-weight: bold;
  }
}
