@import 'vars';

.container {
  overflow: auto;
  padding: 20px;

  table {
    width: 100%;
  }

  td {
    vertical-align: top;
    padding: 10px 15px;
  }
}

.map {
  height: 100%;
}

.range {
  input {
    width: 50px !important;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

.label {
  width: 100px;
}

.value {
  margin-left: 111px;
}

.form {
  float: left;
  width: 500px;
}

.map {
  width: 500px;
  margin-left: 501px;

  h1 {
    text-align: center;
  }
}
