@import 'vars';
$padding: 20px;

.messages {
  height: calc(100% - #{61px + $padding * 2});
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fcf9f8;

  h1 {
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    position: absolute;
    left: 50%;
    padding: 31px;
    font-size: 27px;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.messages-wrapper {
  width: 68%;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  height: 100%;
}

.profile {
  width: 32%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: 100%;
  overflow-y: scroll;
}
